In [1]:
import numpy as np
import pandas   as pd
train=pd.read_csv('train.csv')

In [3]:
train.head(10)

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0
5,5,02/12/2010,Ankara,Big Cities,FC,6,6.0,4.5,7.5,8,...,5.0,0,0,0,0,0,0,0,0,5017319.0
6,6,10/11/2010,İstanbul,Big Cities,IL,2,3.0,4.0,4.0,1,...,3.0,4,5,2,2,3,5,4,4,5166635.0
7,7,06/21/2011,İstanbul,Big Cities,IL,4,5.0,4.0,5.0,2,...,2.0,0,0,0,0,0,0,0,0,4491607.0
8,8,08/28/2010,Afyonkarahisar,Other,IL,1,1.0,4.0,4.0,1,...,3.0,4,5,5,3,4,5,4,5,4952497.0
9,9,11/16/2011,Edirne,Other,IL,6,4.5,6.0,7.5,6,...,2.5,0,0,0,0,0,0,0,0,5444227.0

# Conditition  on City Group , TYpe  and  P1  - cause  they  look  like  categorical
* First  issue  will  be  to     define  the labels  and  the   mappings ,  and the  join table ,   this will not  be     hard , real issue    will be to macke prob spae

In [8]:
group=np.unique(train['City Group'],return_counts=True)
group

(array(['Big Cities', 'Other'], dtype=object), array([78, 59]))

In [9]:
types=np.unique(train['Type'],return_counts=True)
types

(array(['DT', 'FC', 'IL'], dtype=object), array([ 1, 76, 60]))

In [10]:
p1=np.unique(train['P1'],return_counts=True)
p1

(array([ 1,  2,  3,  4,  5,  6,  9, 12]),
 array([ 9, 36, 31, 35,  4,  6,  4, 12]))

### The  condititional prob  model  where will be  :
* P group,type,p1 
* Meaning    what is  prob   of  p1   being  some  value  givin the fact that  group  and type   has   some values
* This  will  be  first  derived  feature

In [14]:
group_labels=list(np.unique(train['City Group']))
group_labels

['Big Cities', 'Other']

In [18]:
types_labels=list(np.unique(train['Type']))
types_labels

['DT', 'FC', 'IL']

In [19]:
p1_labels=list(np.unique(train['P1']))
p1_labels

[1, 2, 3, 4, 5, 6, 9, 12]

In [22]:
group_mapping={label: index
                for index,label in enumerate(group_labels)}
group_mapping

{'Big Cities': 0, 'Other': 1}

In [23]:
types_mapping={label: index
               for index,label in enumerate(types_labels)}
types_mapping

{'DT': 0, 'FC': 1, 'IL': 2}

In [24]:
p1_mapping={label: index
            for  index,label in enumerate(p1_labels)}
p1_mapping

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 9: 6, 12: 7}